{% load staticfiles %}
{% if messages %}
    <link href="{% static 'css/messenger.css' %}" rel="stylesheet">
    <link href="{% static 'css/messenger-theme-block.css' %}" rel="stylesheet">
    <script src="{% static 'js/messenger.min.js' %}"></script>
    <script>
        $._messengerDefaults = {
            extraClasses: 'messenger-fixed messenger-theme-block messenger-on-top'
        };
        {% for message in messages %}
            $.globalMessenger().post(
                    {
                        message: '{{ message }}',
                        type: '{{ message.tags }}',
                        showCloseButton: true
                    });
        {% endfor %}
    </script>
{% endif %}