{% extends '_base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row" style="margin:60px auto;">
        <div class="col-md-4 col-md-offset-4">
            <form method="POST" action="{% url 'register' %}" accept-charset="UTF-8" role="form" id="login_form"
                  class="form-signin">
                {% csrf_token %}
                <fieldset>
                    <h3 class="sign-up-title" style="color:dimgray; text-align: center">欢迎注册！</h3>
                    <hr class="colorgraph">
                    {{ form.username }}
                    {% include 'include/render_field_errors.html' with field=form.username %}
                    {{ form.password }}
                    {% include 'include/render_field_errors.html' with field=form.password %}
                    {{ form.repeat_password }}
                    {% include 'include/render_field_errors.html' with field=form.repeat_password %}
                    {{ form.stu_id }}
                    {{ form.sys_password }}
                    {% include 'include/render_field_errors.html' with field=form.sys_password %}
                    {#                    <a href="{% url 'password_reset' %}">忘记密码？</a>#}
                    <input class="btn btn-lg btn-success btn-block" type="submit">
                    <p class="text-center"><a href="{% url 'login' %}">老用户？</a></p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block tail %}
    <style>
        .colorgraph {
            height: 5px;
            border-top: 0;
            background: #c4e17f;
            border-radius: 5px;
            background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        }

        body {
            background-image: url('{% static 'img/looping-bg.jpg' %}');
        }

        .form-signin input[type="text"] {
            margin-bottom: -1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .form-signin .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    </style>
{% endblock %}